<h1><%= t('tasks.edit.title') %></h1>

<%= form_with model: @task do |form| %>
  
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %> </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content %> </div>

  <%= form.submit t('tasks.edit.submit') %>
<% end %>


