<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Task Management System" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# 這裡引入主要的 CSS 與 JS %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


    
    <% if flash[:notice] %>
      <div data-controller="flash" class="flash-message flash-success">
        <span class="flash-message-text">
          <%= flash[:notice] %>
        </span>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div data-controller="flash" class="flash-message flash-alert">
        <span class="flash-message-text">
          <%= flash[:alert] %>
        </span>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>