<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Task Management System" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Task Management System">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>

<% if flash[:notice] %>
    <div class="flash-message flash-succeed js-flash-message">
      <span><%= flash[:notice] %></span>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="flash-message flash-alert js-flash-message">
      <span><%= flash[:alert] %></span>
    </div>
  <% end %>
  <%= yield %> <script type="text/javascript">
  // turbo:load 事件每一次 Turbo 換頁時都會觸發。
  document.addEventListener("turbo:load", function() {
    
    const flashMessages = document.querySelectorAll(".js-flash-message");

    // 跑一個迴圈，讓所有 flash 都能套用
    flashMessages.forEach(function(flashMessage) {
      
      setTimeout(function() {
        flashMessage.style.transition = "opacity 0.5s ease-out";
        flashMessage.style.opacity = 0;
        
        // 等淡出效果播完，再把它從畫面上移除
        setTimeout(function() {
          flashMessage.remove();
        }, 500); 
      }, 3000); 
    });
  });
</script>

</body> 
</html>

